body {
	padding-bottom: env(safe-area-inset-bottom);
}
.t-r{
  text-align: right;
}
.t-l{
  text-align: left;
}
.t-c{
  text-align: center;
}
.c-orange {
  color: #FF9D35 !important;
}
.bc-orange{
  background-color: #FF9D35 !important;
}
.c-32 {
  color: #323232 !important;
}
.c-9b {
  color: #9b9b9b !important;
}
.c-w {
  color: #FFF !important;
}
.c-54{
  color: #545556;
}
.border-b12{
  border-bottom: 0.013rem solid rgba(0,0,0,0.12);
}
.border-t12{
  border-top: 0.013rem solid rgba(0,0,0,0.12);
}
.padder-t{
  padding-top: 0.8rem;
}
.padder-b{
  padding-bottom: 0.8rem;
}
.f-bold{
  font-weight: bold;
}
a:link,
a:active,
a:visited,
a:hover{
  text-decoration:none;
}
.c-orange,
.c-yl{
  color: #ff9d35;
}
#header{
	width: 100%;
	height: 1.067rem;
	line-height: 1.067rem;
	padding: 0 0.533rem;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
[data-dpr="1"] #header{
	font-size: 14px;
}
[data-dpr="2"] #header{
	font-size: 28px;
}
[data-dpr="3"] #header{
	font-size: 42px;
}
#footer-btn{
  height: 1.6rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #323232;
  padding: 0 !important;
  border-top: 0 !important;
  border-top-width: 0 !important;
  background-image:none !important;
  background-size: 100% 0 !important;
  position: absolute;
  bottom: 0;
}
.row,
.row .col{
	padding: 0;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-padder{
  padding: 0;
}
.row-l{
  margin-left: 0;
}
.row-r{
  margin-right: 0;
}
.f-r{
  float: right;
}
.user-scroll{
	z-index: -1;
}
#footer{
	text-align: center;
	height: 1.307rem;
  /*box-shadow:0px 1px 6px rgba(11,3,5,0.12);*/
	padding-bottom: env(safe-area-inset-bottom);
  border-top-width: 0 !important;
  background-image:none !important;
  border-top: 0.013rem solid rgba(0,0,0,0.12) !important;
}
#home #footer .home-page{
	color: #ff9d35;
}
[data-dpr="1"] #footer{
	font-size: 10px;
}
[data-dpr="2"] #footer{
	font-size: 20px;
}
[data-dpr="3"] #footer{
	font-size: 30px;
}
#footer img{
	width: 0.613rem;
	height: 0.613rem;
}
.user-content-no{
	width: 100%;
	padding: 1.067rem 0.533rem 0 0.533rem;
}
.user-content{
	width: 100%;
	/*padding: 0 0.533rem;*/
  padding: 0 0.533rem 1.6rem 0.533rem;
}
#header .home-shop{
	float: left;
}
#header .home-shop .down-icon{
	width: 0.267rem;
	height: 0.133rem;
}
#header .scan-icon{
	float: right;
}
#header .scan-icon img{
	width: 0.507rem;
	height: 0.507rem;
}

.region-mode {
  position: absolute;
  left: -110%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 0.533rem;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: y;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.region-mode .region-tit {
  font-weight: bold;
  text-align: center !important;
  position: relative !important;
  padding: 0.747rem 0;
}
[data-dpr="1"] .region-mode .region-tit{
	font-size: 20px;
	line-height: 25px;
}
[data-dpr="2"] .region-mode .region-tit{
	font-size: 40px;
	line-height: 45px;
}
[data-dpr="3"] .region-mode .region-tit{
	font-size: 60px;
	line-height: 65px;
}
.region-mode .region-tit .region-close {
  float: left;
}
.region-mode .region-tit .region-close img{
	margin-top: -0.133rem;
}
[data-dpr="1"] .region-mode .region-tit .region-close img{
	width: 12px;
	height: 12px;
}
[data-dpr="2"] .region-mode .region-tit .region-close img{
	width: 24px;
	height: 24px;
}
[data-dpr="3"] .region-mode .region-tit .region-close img{
	width: 36px;
	height: 36px;
}


.region-mode .region-cont {
  padding: 0 0.373rem;
  overflow: hidden;
}
.region-mode .region-cont .region-nav {
  border-bottom: 0.013rem solid #e0e0e0;
  -webkit-border-bottom: 0.013rem solid #e0e0e0;
  font-size: 0.4rem;
  height: 1.187rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.region-mode .region-cont .region-nav .region-nav-tit {
  opacity: .87;
  height: 1.187rem;
  line-height: 1.187rem;
}
.region-mode .region-cont .region-nav .region-snav {
  padding: 0 0.533rem;
  overflow: hidden;
}
.region-mode .region-cont .region-nav .region-snav div {
  height: 1.04rem;
  line-height: 1.04rem;
}
.region-mode .region-cont .region-nav .region-snav div:last-of-type {
  margin-bottom: 0.533rem;
}


/*会员卡列表页优惠标签动态效果*/
.rect{
	/*animation-name: colorchange; /**这里引用了前面定义的动画**/
	-webkit-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease-in;
	-o-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-o-animation-direction: normal;
	animation-direction: normal;/* normal：默认，从0%执行到100% | reverse：动画从100%执行到0% | alternate：动画在0%到100%之间往复执行|alternate-reverse与alternate一致，不过是从100%开始 */
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.rect {
  display: inline-block;
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	-o-transform-origin: center bottom;
	transform-origin: center bottom;
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

/*时间选择*/
.date-menu {
  width: 100%;
  height: 1.867rem;
  display: flex;
  -webkit-display: flex;
  display: -webkit-box;
  position: relative !important;
/*  border-bottom: 0.013rem solid rgba(0,0,0,0.12);*/
}
.date-menu .date-menu-li {
  display: block;
  -webkit-display: block;
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  text-align: center !important;
  font-weight: 500;
  color: #999 !important;
  padding-top: 0.533rem;
  line-height: 0.667rem;
}
.date-menu .date-menu-active {
  position: absolute !important;
  width: 14.285%;
  height: 1.333rem;
  z-index: 999;
  color: #fff;
  margin-top: 0.533rem;
  padding: 0 0.133rem;
}
.date-menu .date-menu-active div {
  text-align: center !important;
}
.date-menu .date-menu-active .choose{
	background: #ff9d35;
	width: 100%;
  height: 100%;
  border-radius:0.053rem 0.053rem 0px 0px;
}
.date-menu .date-menu-active .choose div{
  line-height: 0.667rem;
}
.date-menu .no-choose{
  color: #9b9b9b;
}
.date-menu a:first-child .no-choose{
  color: #ff9d35;
}
[data-dpr="1"] .date-menu{
  font-size: 12px;
}
[data-dpr="2"] .date-menu{
  font-size: 24px;
}
[data-dpr="3"] .date-menu{
  font-size: 36px;
}
.appt-two {
  background-color: #fff;
  /*padding: 0.893rem 0.36rem 0;*/
  padding: 0.533rem 0;
  overflow: hidden;
  border-bottom: 0.013rem solid rgba(0,0,0,0.12);
}
.appt-two .appt-mode {
  overflow: hidden;
}
.appt-two .appt-mode .appt-mode-img {
  width: 100%;
  height: 4.467rem;
  position: relative !important;
}
.appt-two .appt-mode .appt-mode-img .appt-mode-bg {
  width: 100%;
  height: 4.467rem;
}
.appt-two .appt-mode .appt-mode-img .appt-mode-num {
  position: absolute !important;
  width: 100%;
  color: #fff;
  height: 0.427rem;
  opacity: .87;
  font-weight: 700;
  left: 0;
  bottom: 0.16rem;
  text-indent: 0.133rem;
  z-index: 999;
  margin-bottom: 0.187rem;
}
[data-dpr="1"] .appt-two .appt-mode .appt-mode-img .appt-mode-num{
  font-size: 14px;
}
[data-dpr="2"] .appt-two .appt-mode .appt-mode-img .appt-mode-num{
  font-size: 28px;
}
[data-dpr="3"] .appt-two .appt-mode .appt-mode-img .appt-mode-num{
  font-size: 42px;
}
.appt-two .appt-mode .appt-mode-img .appt-mode-barBg {
  position: absolute !important;
  width: 100%;
  background: url(../img/gradient01.png) left top repeat-x;
  background-size: auto 100%;
  z-index: 99;
  height: 0.747rem;
  left: 0;
  bottom: 0;
}
.appt-two .appt-mode .appt-mode-img .appt-mode-barMv {
  z-index: 999;
  position: absolute !important;
  height: 0.107rem;
  left: 0;
  bottom: 0;
  background-color: #ff9d35;
  width: 0;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}
.appt-two .appt-mode .appt-mode-tit {
  font-weight: bold;
  margin-top: 0.427rem;
  color: #323232;
}
[data-dpr="1"] .appt-two .appt-mode .appt-mode-tit{
  font-size: 18px;
}
[data-dpr="2"] .appt-two .appt-mode .appt-mode-tit{
  font-size: 36px;
}
[data-dpr="3"] .appt-two .appt-mode .appt-mode-tit{
  font-size: 54px;
}
.appt-two .appt-mode .appt-mode-txt {
  opacity: .66;
  color: #000;
  margin-top: 0.267rem;
}
[data-dpr="1"] .appt-two .appt-mode .appt-mode-txt{
  font-size: 16px;
}
[data-dpr="2"] .appt-two .appt-mode .appt-mode-txt{
  font-size: 32px;
}
[data-dpr="3"] .appt-two .appt-mode .appt-mode-txt{
  font-size: 48px;
}
.no-course{
  text-align: center;
  padding: 0.533rem 0;
}
