.mwq .hx-cont-noTop{
    color: #000;
}
.mwq .m-header{
    height: 230px;
    background-image: url(/static/mobile/img/mwq-bg.jpg);
    background-position: 50% 50%;
    background-size: 750px 230px;
    color: #fff;
    font-size: 22px;
}
.mwq .m-header .m-name{
    height: 80px;
    line-height: 80px;
    float: left;
}
.mwq .m-header .m-name .location{
    width: 24px;
    height: 32px;
    margin: 0 12px 0 26px;
}
.mwq .m-header .m-name .location img{
    width: 24px;
    height: 32px;
}
.mwq .m-header .club-sel{
    height: 80px;
    line-height: 80px;
}
.mwq .m-header .people-mode{
    height: 80px;
    line-height: 80px;
}
.mwq .m-box1{
    width: 100%;
    height: 365px;
    z-index: 5;
    background-color: #f8f8f8;
    padding: 0 40px;
}
.mwq .m-box1 .m-box1-bg{
    width: 100%;
    height: 395px;
    margin: 0 auto;
    position: relative;
    top: -60px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-image: url(/static/mobile/img/mwq-bg1.jpg);
    background-position: 50% 50%;
    background-size: 100% 395px;
}
.mwq .m-box1 .m-box1-bg .m-header-content{
    width: 100%;
    height: 100%;
    position: relative;
    top: -60px;
}
.mwq .m-box1 .m-box1-bg .m-tx{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 0 !important;
}
.mwq .m-box1 .m-box1-bg .m-tx .user-img{
    width: 140px;
    height: 140px;
    margin-right: 0 !important;
}
.mwq .m-box1 .m-box1-bg .m-xm{
    font-size: 36px;
    text-align: center;
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin-top: 22px;
    font-weight:500;
    opacity: 0.87;
}
.mwq .m-box1 .m-box1-bg .m-jd{
    font-size: 24px;
    opacity: 0.87;
    text-align: center;
    width: 100%;
    margin-top: 16px;
}
.mwq .m-box1 .m-box1-bg .m-bq{
    width: 100%;
    margin-top: 63px;
}
.mwq .m-box1 .m-box1-bg .m-bq .options{
    float: left;
    width: 33%;
    text-align: center;
    font-size: 24px;
}
.mwq .m-box1 .m-box1-bg .m-bq .options .txt{
    opacity: 0.87;
}
.mwq .m-box1 .m-box1-bg .m-bq .options .m-tu1{
    height: 54px;
    text-align: center;
    margin-bottom: 20px;
}
.mwq .m-box1 .m-box1-bg .m-bq .options img{
    width: 54px;
    height: 54px;
}
.mwq .m-box1 .m-box1-bg .m-bq .options img.m-sj{
    width: 60px;
    height: 50px;
    margin: 0 auto;
}
.mwq .m-box2{
    width: 100%;
}
.mwq .m-box2 .options .txt{
    opacity: 0.87;
}
.mwq .m-box2 .options{
    float: left;
    width: 33%;
    text-align: center;
    font-size: 24px;
    padding-bottom: 60px;
    margin-top: 20px;
}
.mwq .m-box2 .options .m-tu2{
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}
.mwq .m-box2 img{
    width: 50px;
    height: 50px;
}