<!--我的预约-->
<ion-view class="hx-page mwq-coach-appt" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('我的预约')" ng-controller="apptCtrl">

	<ion-header-bar class="hx-pd tab-head">
		<div class="p-rel tab-nav">
			<div class="tab-nav-li" ng-click="toggleActive(0)"  ng-class="{'tab-nav-li-gray':active==1}">进行中</div>
			<div class="tab-nav-li" ng-click="toggleActive(1)"  ng-class="{'tab-nav-li-gray':active==0}">待处理</div>
			<div class="p-abs anime-ease tab-nav-look"></div>
		</div>
    </ion-header-bar>

    <ion-content class="tab-cont" overflow-scroll="false" scrollbar-y="false" has-bouncing="false" delegate-handle="mainScroll">

		<!--私教约课-->
		<div ng-if="active==0">
			<ion-refresher
                    spinner="ios"
                    pulling-icon="ion-arrow-down-c"
                    pulling-text="下载刷新"
                    refreshing-text="加载中..."
                    on-refresh="doPTRefresh()">
        	</ion-refresher>

        	<div class="hx-pd">

        		<div class="my-appt" ng-repeat="i in haveApptpage.list">
	        		<div class="appt-cont"  ng-click="location('coach/appt-dtl/{{i.plan_id}}')">
	        			<div class="appt-img" ng-style="'uploads/'+i.cover | adaptBg"></div>
	        			<div class="appt-particulars">
	        				<div class="appt-name">{{i.course_name}}</div>
	        				<div class="appt-txt">上课时间：{{i.start_time | limitTo:10}}<span>&nbsp;&nbsp;{{i.start_time | limitTo:-8 | limitTo:5}}-{{i.end_time | limitTo:-8 | limitTo:5}}</span></div>
	        				<div class="appt-address">上课地点：{{i.county}}-{{i.shop_name}}</div>
	        				<div class="appt-address" ng-if="i.type==1">预约{{i.min_count}}人开课</div>
	        				<div class="appt-address" ng-if="i.type==3">距离上课前一小时会员无法取消</div>
	        			</div>
	        		</div>
	        		<div class="appt-foot" ng-if="i.type==3">
	        			<div class="appt-user">
	        				<div class="appt-user-tx">
	        					<!-- <img ng-src="uploads/{{i.users[0].avatar}}" alt=""> -->
	        					<img ng-style="'uploads/'+i.users[0].avatar | adaptBg">
	        				</div>
	        				<div class="appt-user-xm">{{i.users[0].real_name}}</div>
	        			</div>
	        			<div class="appt-contact">
	        				<a href="tel:{{i.users[0].phone}}" class="appt-btn">联系学员</a>
		        			<a ng-if="contrastTime(i.coach_sign_time,i.start_time)==2 && judge(i.start_time)==1" href="javascript:;" class="appt-btn appt-btn-gray">等待开始</a>
		        			<a ng-if="contrastTime(i.coach_sign_time,i.start_time)==2 && (judge(i.start_time)==2 || judge(i.start_time)==3)" href="javascript:;" class="appt-btn appt-btn-gray">你已迟到</a>
		        			<a ng-if="(contrastTime(i.coach_sign_time,i.start_time)==1 || contrastTime(i.coach_sign_time,i.start_time)==3) && (judge(i.start_time)==2 || judge(i.start_time)==3)" href="javascript:;" class="appt-btn appt-btn-gray">进行中</a>
	        			</div>
	        		</div>
	        		<div class="appt-foot" ng-if="i.type==1">
	        			<div class="appt-bar">
	        				<div class="appt-div">
								<div class="course-bar">
									<div class="bar-mv bar-mv-{{$index}}" ng-init="showRow(i,$index)"></div>
								</div>
							</div>
							<div class="appt-div">
								已约{{i.user_count}}/{{i.max_count}}
							</div>
	        			</div>
	        		</div>
        		</div>
        		<br /><br /><br /><br />
        	</div>


	        <ion-infinite-scroll
	                    ng-if="haveApptpage.currPage < haveApptpage.totalPage"
	                    spinner="android"
	                    distance="1%"
	                    on-infinite="onPTLoadMore()">
	        </ion-infinite-scroll>

	        <div class="tc c-9 m-t-30" ng-if="haveApptpage.list.length==0">您没有进行中的预约</div>
		</div>

		<!--团课约课-->
		<div ng-if="active==1">
			<ion-refresher
                    spinner="ios"
                    pulling-icon="ion-arrow-down-c"
                    pulling-text="下载刷新"
                    refreshing-text="加载中..."
                    on-refresh="doPTRefresh()">
        	</ion-refresher>

        		<div class="hx-pd">

	        		<div class="my-appt" ng-repeat="i in finishApptpage.list" ng-click="location('coach/appt-dtl/{{i.plan_id}}')">
		        		<div class="appt-cont">
		        			<div class="appt-img" ng-style="'uploads/'+i.cover | adaptBg"></div>
		        			<div class="appt-particulars">
		        				<div class="appt-name">{{i.course_name}}</div>
		        				<div class="appt-txt">上课时间：{{i.start_time | limitTo:10}}<span>&nbsp;&nbsp;{{i.start_time | limitTo:-8 | limitTo:5}} - {{i.end_time | limitTo:-8 | limitTo:5}}</span></div>
		        				<div class="appt-address">上课地点：{{i.county}}-{{i.shop_name}}</div>
<!--		        			<div class="appt-address" ng-if="i.type==1">预约{{i.min_count}}人开课</div>
	        					<div class="appt-address" ng-if="i.type==3">距离上课前两小时会员无法取消</div>-->
		        			</div>
		        		</div>

						<div ng-if="i.type==3 && ((contrastTime(i.sign_time,i.end_time)==2 || contrastTime(i.sign_time,i.end_time)==3) && contrastTime(i.coach_sign_time,i.end_time)==1)">
		        			<div class="appt-foot">
		        				<div class="tr">会员旷课，该节课自动算业绩</div>
		        			</div>

		        		</div>
		        		<div ng-if="contrastTime(i.coach_sign_time,i.end_time)==2 || contrastTime(i.coach_sign_time,i.end_time)==3">
		        			<div class="appt-foot">
		        				<a href="javascript:;" class="appt-btn appt-btn-gray">您已旷课</a>
		        			</div>

		        		</div>
		        		<div ng-if="(i.type==3 && contrastTime(i.sign_time,i.end_time)==1 && contrastTime(i.coach_sign_time,i.end_time)==1) || (i.type==1 && contrastTime(i.coach_sign_time,i.end_time)==1)">

		        			<div class="appt-foot" ng-if="i.type==3">
			        			<div class="appt-user" ng-if="i.sign==2 || i.sign==3 || i.sign==4">
			        				<div class="appt-user-tx">
			        					<!-- <img ng-src="uploads/{{i.users[0].avatar}}" alt=""> -->
			        					<img ng-style="'uploads/'+i.users[0].avatar | adaptBg">
			        				</div>
			        				<div class="appt-user-xm">{{i.users[0].real_name}}</div>
			        			</div>
			        			<div class="appt-contact">

				        			<a ng-if="i.sign==1" href="javascript:;" class="appt-btn" ng-click="save(i)">点击确认</a>
			        				<a ng-if="i.sign==2" href="tel:{{i.users[0].phone}}" class="appt-btn">联系学员</a>
			        				<a ng-if="i.sign==2" href="javascript:;" class="appt-btn appt-btn-gray">待学员确认</a>
									<a ng-if="i.sign==3 || i.sign==4" href="javascript:;" class="appt-btn appt-btn-gray">已完成</a>

			        			</div>
		        			</div>

		        			<div class="appt-foot" ng-if="i.type==1">

								<a ng-if="i.sign==1" href="javascript:;" class="appt-btn appt-btn-gray">待学员确认</a>
								<a ng-if="i.sign==3 || i.sign==4" href="javascript:;" class="appt-btn appt-btn-gray">已完成</a>

		        			</div>


<!--		        		<div class="appt-foot" ng-if="i.type==3">
			        			<div class="appt-user" ng-if="(i.sign==2 || i.sign==3 || i.sign==4) && (judge(i.end_time)==2 || judge(i.end_time)==3)">
			        				<div class="appt-user-tx"><img ng-src="uploads/{{i.users[0].avatar}}" alt=""></div>
			        				<div class="appt-user-xm">{{i.users[0].real_name}}</div>
			        			</div>
			        			<div class="appt-contact">
				        			<a ng-if="i.sign==0 && (judge(i.end_time)==2 || judge(i.end_time)==3)" href="javascript:;" class="appt-btn appt-btn-gray">已旷课</a>
				        			<a ng-if="i.sign==1 && (judge(i.end_time)==2 || judge(i.end_time)==3)" href="javascript:;" class="appt-btn" ng-click="save(i)">点击确认</a>
			        				<a ng-if="i.sign==2 && (judge(i.end_time)==2 || judge(i.end_time)==3)" href="tel:{{i.users[0].phone}}" class="appt-btn">联系学员</a>
			        				<a ng-if="i.sign==2 && (judge(i.end_time)==2 || judge(i.end_time)==3)" href="javascript:;" class="appt-btn appt-btn-gray">待学员确认</a>
									<a ng-if="i.sign==3" href="javascript:;" class="appt-btn appt-btn-gray">已完成</a>
			        			</div>
		        			</div>

		        			<div class="appt-foot" ng-if="i.type==1">
			        			<a ng-if="i.sign==0 && (judge(i.end_time)==2 || judge(i.end_time)==3)" href="javascript:;" class="appt-btn appt-btn-gray">已旷课</a>
			        			<a ng-if="i.sign==1 && (judge(i.end_time)==2 || judge(i.end_time)==3)" href="javascript:;" class="appt-btn appt-btn-gray">待会员确认</a>
								<a ng-if="i.sign==3" href="javascript:;" class="appt-btn appt-btn-gray">已完成</a>
		        			</div>
-->

		        		</div>

	        		</div>

		        </div>
				<ion-infinite-scroll
                    ng-if="finishApptpage.currPage < finishApptpage.totalPage"
                    spinner="android"
                    distance="1%"
                    on-infinite="onPTLoadMore()">
        		</ion-infinite-scroll>

        		<div class="tc c-9 m-t-30" ng-if="finishApptpage.list.length==0">您没有需要处理的预约</div>	

    			<br /><br /><br /><br />

		</div>

    </ion-content>

</ion-view>











