<ion-view class="hx-page member-user-list" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('会员列表')" ng-controller="userListCtrl">
	
	<ion-header-bar class="hx-pd tab-head">
		<div class="p-rel tab-nav">
			<div class="tab-nav-li" ng-click="toggleActive(0)"  ng-class="{'tab-nav-li-gray':active==1}">注册会员</div>
			<div class="tab-nav-li" ng-click="toggleActive(1)"  ng-class="{'tab-nav-li-gray':active==0}">购卡会员</div>
			<div class="p-abs anime-ease tab-nav-look"></div>
		</div>
   </ion-header-bar>
   
	<ion-content class="tab-cont" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		<br />
		<div class="search">
			<input type="text" placeholder="输入电话号码、姓名等" ng-model="search.keyword" ng-change="loadUser()">
			<i class="ion-ios-search-strong"></i>
		</div>
		
		<!--注册会员-->
		<div ng-show="active == 0" class="user-list" ng-repeat="v in user.regList" ng-click="go(v)">
			<div class="list">
				<img ng-style="'uploads/'+v.avatar | adaptBg">
				<span class="name">{{v.real_name}}</span>
				<span class="time">{{v.create_time | limitTo:10}}</span>
			</div>
		</div>
		<!--购卡会员-->
		<div ng-show="active == 1" class="user-list" ng-repeat="v in user.buyList" ng-click="go(v)">
			<div class="list">
				<img ng-style="'uploads/'+v.avatar | adaptBg">
				<span class="name">{{v.real_name}}</span>
				<span class="time">{{v.pay_time | limitTo:10}}</span>
			</div>
		</div>
		
	</ion-content>
	
</ion-view>