<ion-view class="hx-page mwq-appt-dtl" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('预约详情')" ng-controller="apptDtlCtrl">

	<ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="true" delegate-handle="mainScroll">
		<div class="course-del">
			<div class="course-dtl-img" ng-style="'uploads/'+ apptDtl.course.cover | adaptBg"></div>
			<div class="course-del-part">
				<div class="course-name">{{apptDtl.course.course_name}}</div>
				<div class="course-time">上课时间：{{apptDtl.course.start_time  | limitTo:-8  | limitTo:5}}-{{apptDtl.course.end_time  | limitTo:-8  | limitTo:5}}</div>
				<div class="course-addr single">上课地点：{{apptDtl.shop.province}}-{{apptDtl.shop.shop_name}}</div>
			</div>
			<div class="course-state" ng-if="courseState==0">待上课</div>
			<div class="course-state" ng-if="courseState==1">上课中</div>
			<div class="course-state" ng-if="courseState==2">已结束</div>
			<div class="appt-del-foot">
				<div class="appt-foot">
	    			<div class="appt-bar">
	    				<div class="appt-div">
							<div class="course-bar">
								<div class="bar-mv bar-mv" ng-init="showRow()"></div>
							</div>
						</div>
						<div class="appt-div">
							已约{{apptDtl.count}}/{{apptDtl.course.max_count}}
						</div>
	    			</div>
	    		</div>
			</div>

		</div>

		<!--预约详情-->
		<div class="appt-dtl-title">
			约课会员
		</div>
		<div class="appt-dtl-list" ng-repeat="i in apptDtl.list">
			<div class="appt-dtl-cover">
				<div class="appt-dtl-img" ng-style="'uploads/'+ i.avatar | adaptBg"></div>
			</div>
			<div class="appt-del">
				<div class="appt-dtl-part">
					<div class="appt-user-name">{{i.real_name}}</div>
					<div class="appt-user-time" ng-if="compareUser(i,apptDtl.course)==1">签到时间：{{i.sign_time | limitTo:-8}}</div>
					<div class="appt-user-time" ng-if="compareUser(i,apptDtl.course)==0">未签到</div>
					<div class="appt-user-time time-kk" ng-if="compareUser(i,apptDtl.course)==2">旷课</div>
				</div>
				<div class="appt-dtl-phone">
					<a class="options" href="tel:{{i.phone}}">
						<img class="mwq-phone" src="/static/mobile/img/icon/appt-del-phone.png" alt="">
					</a>
				</div>
			</div>
		</div>

	</ion-content>

</ion-view>
