@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
  html,body {
    font-size:19.2px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
  html,body {
    font-size:17.066666666666666px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
  html,body {
    font-size:16px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
  html,body {
    font-size:14.399999999999999px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
  html,body {
    font-size:12.8px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
  html,body {
    font-size:11.040000000000001px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
  html,body {
    font-size:10.666666666666666px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
  html,body {
    font-size:10px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
  html,body {
    font-size:9.6px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
  html,body {
    font-size:8.533333333333333px;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
  html,body {
    font-size:6.4px;
  }
}
@charset "utf-8";
.mwq-member-index .mwq-header{
  background-color: #f28019;
}
.mwq-member-index .club-header{
  opacity: 1 !important;
}
.mwq-member-index .club-header img{
  opacity: 1 !important;
}
.mwq-member-index .scroll{
  padding: 0 5rem;
}
.mwq-member-index .mwq-content{
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.mwq-member-index .mwq-content .box1{
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 25%;
}
.mwq-member-index .mwq-content .box1 .cover{
  width: 100%;
  height: 8rem;
  position: relative;
  top: -4rem;
}
.mwq-member-index .mwq-content .box1 .cover a{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: block;
  -webkit-display: block;
  -webkit-border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #fff;
}
.mwq-member-index .mwq-content .box1  .name{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: rgba(0,0,0,0.87);
  font-weight: 700;
  position: relative;
  top: -1.5rem;
}
.mwq-member-index .mwq-content .box1  .qrcode{
  width: 100%;
  text-align: center;
  padding: 0 3rem;
  height: auto;
}
.mwq-member-index .mwq-content .box1  .qrcode img{
  width: 100%;
  height: auto;
}
.mwq-member-index .mwq-content .box2{
  width: 100%;
  height: 100%;
}
.mwq-member-index .mwq-content .box1 .describe{
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem 0;
}
.mwq-member-index .check{
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
 padding-top: 3rem;
}
.mwq-member-index .check a{
  color: #fff;
}
.member-user-list .user-list-title{
  padding: 2rem 0 1.5rem 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
}
.member-user-list .search{
  width: 100%;
  padding: 0 1.2rem;
  height: 3.6rem;
}
.member-user-list .search input{
  width: 100%;
  height: 3.6rem;
  background-color: rgba(0,0,0,0.12);
  border-radius: 10px;
  padding-left: 2.5rem;
  font-size: 1.4rem;
  color: rgba(0,0,0,0.54);
  line-height: 3.6rem;
}
.member-user-list .search input::-webkit-input-placeholder{
  font-size: 1.4rem;
  color: rgba(0,0,0,0.54);
}
.member-user-list .search input::-moz-placeholder{
  font-size: 1.4rem;
  color: rgba(0,0,0,0.54);
}
.member-user-list .search input::-ms-input-placeholder{
  font-size: 1.4rem;
  color: rgba(0,0,0,0.54);
}
.member-user-list .search input:focus{
  outline:none;
  border: none;
}
.member-user-list .search i{
  font-size: 2rem;
  color: #8b8b8b !important;
  position: relative;
  top: -2.6rem;
  left: 0.7rem;
}
.member-user-list .user-list{
  padding: 0 1.2rem;
}
.member-user-list .user-list .list{
  padding: 1.2rem 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  line-height: 3rem;
}
.member-user-list .user-list img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.member-user-list .user-list .name{
  font-size: 1.4rem;
  color: rgba(0,0,0,0.87);
  font-weight: 500;
}
.member-user-list .user-list .time{
  float: right;
  color: rgba(0,0,0,0.66);
  font-size: 1.2rem;
}
.member-user-dtl .touxiang{
  padding: 3rem 0 1rem 0;
  width: 100%;
  text-align: center;
}
.member-user-dtl .touxiang img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.member-user-dtl .name{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
}
.member-user-dtl .user-dtl{
  margin-top: 2rem;
  border-top: 1px solid rgba(0,0,0,0.12);
  padding: 3rem 0 0 3rem;
}
.member-user-dtl .user-dtl .line{
  width: 100%;
}
.member-user-dtl .user-dtl .line .title{
  width: 25%;
  float: left;
  font-size: 1.4rem;
  color: rgba(0,0,0,0.66);
  margin-bottom: 2rem;
}
.member-user-dtl .user-dtl .line .txt{
  width: 75%;
  font-size: 1.4rem;
  float: left;
  color: rgba(0,0,0,0.87);
  margin-bottom: 2rem;
  font-weight: 500;
}