<ion-view class="hx-page card-dtl-page" hide-nav-bar="true" ng-init="setDocumentTitle('会员卡详情')" ng-controller="cardDtlCtrl">

    <ion-content class="hx-cont-noTop" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">

		<div class="hx-pd" style="background-color: #fff;">
			
			<div class="card-single">
				<div class="card-img">
					<div class="card-bg" ng-style="'uploads/'+info.image | adaptBg"></div>
	<!--			<div class="card-tit">{{info.card_name}}</div>-->
				</div>
				<div class="card-name">{{info.card_name}}</div>
				<div class="card-money">
					<span>￥</span>{{info.price}}
				</div>
				
				<div class="card-vv" ng-if="info.groups.length==0">
					<div class="fl">使用范围</div>
					<div class="fr">全国</div>
				</div>
				
				<div class="club-cont" ng-if="info.groups.length>0">
					<div class="club-div">
						<div class="club-tit">使用范围</div>
						<div class="club-per club-per2" ng-repeat="i in info.group track by $index">
							<div class="club-per-left" style="width: 40%">{{i.title}}：</div>
							<div class="club-per-right" style="width: 60%">
								<div ng-repeat="p in i.shop track by $index">&nbsp;&nbsp;&nbsp;&nbsp;{{p.shop_name}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<img class="db-center img-x" src="static/mobile/img/temporary/card-in.jpg" />

    </ion-content>

    <ion-footer-bar class="hx-foot">
		<div class="cardtl-foot">
			<div class="cardtl-seltxt" ng-if="salemanId == 0">选择您的推荐人（可以不填）</div>
			<select ng-model="salemanId" ng-options="i.saleman_id as i.real_name for i in salemanList"></select>
			<div class="cardtl-arr"></div>
		</div>
		<div class="cardtl-foot">
			<a href="javascript:;" class="qcyd-btn qcyd-btn-large" ng-click="go()">立即购买</a>
		</div>
    </ion-footer-bar>

</ion-view>





