<ion-view class="hx-page" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('私教详情')" ng-controller="coachDtlCtrl">

    <ion-content class="hx-cont-noTop" overflow-scroll="true" scrollbar-y="false" scrollbar-x="true" has-bouncing="true">

		<div class="hx-pd">
			
			<!--私教卡片-->
			<div class="coach-card anime-ease">
				<div imgzoom class="coach-img" ng-style="'uploads/'+info.avatar | adaptBg" clsname="imgtit" zoomurl="uploads/{{info.avatar}}"></div>
				<div class="coach-top">
					<span class="coach-name">{{info.coach_name}}</span>
					<span class="coach-num">/ 累计上课{{info.count}}节</span>
				</div>
				<div class="coach-txt" id="intro">

				</div>
				<div class="coach-stars">
					<span ng-repeat="i in sum"></span>
				</div>
			</div>

			<div class="coach-tit">可约时间</div>
			
		</div>
		
		<!--日期选择-->
		<date-menu click="clickDateMenu" active="active"></date-menu>
			
		<div class="hx-pd">
			
			<!--时间段-->
			<div class="coach-times">

				<div ng-repeat="i in nowTimesList" ng-if="i.user_count==0" class="no">{{i.start_time | cutwo:11:5}}-{{i.end_time | cutwo:11:5}}</div>
				
			</div>
			<div class="tc c-9 m-b-50" ng-if="!nowTimesList || nowTimesList.length==0">该私教暂时没有排课安排</div>
				
			<!--擅长-->
			<div class="coach-tit">擅长</div>
			<div class="coach-good">
			
				<div ng-repeat="i in info.speciality">{{i}}</div>
			
			</div>
			
			<!--照片-->
			<div class="coach-images">
				<img imgzoom ng-repeat="i in info.images" ng-src="uploads/{{i}}" clsname="imgs" zoomurl="uploads/{{i}}" />
				<div class="tc c-9 m-t-30" ng-if="!info.images || info.images.length==0">该私教暂时没有照片上传</div>
			</div>
			
			<!--服务地点-->
			<div class="coach-tit">服务地点</div>
			<div class="coach-place">
				<div ng-repeat="i in info.shops">{{i.county +'--'+ i.shop_name}}</div>
				<div class="tc c-9 m-t-30" ng-if="!info.shops || info.shops.length==0" style="border:none!important">该私教暂时没有服务地点</div>
			</div>
			
			<!--所授课程-->
			<div class="coach-tit">所授课程</div>
			<div class="coach-courses">
				
				<div class="coach-course-li" ng-repeat="i in info.course" ng-click="getId(i)">
					<div class="coach-course-img" ng-style="'uploads/'+i.cover | allBg"></div>
					<div class="coach-course-name">{{i.course_name}}</div>
					<div class="coach-course-txt">{{i.min_buy}}课起售</div>
					<div class="coach-course-money">￥<span>{{i.price}}</span> / 课时</div>
					<div class="ion-ios-checkmark coach-course-radio" ng-class="{'c-yl':coachItem.course_id==i.course_id}"></div>
				</div>
				<div class="tc c-9 m-t-30" ng-if="!info.course || info.course.length==0">该私教暂时没有出售课程</div>
			</div>

			<!--服务流程-->
			<div class="coach-tit">服务流程</div>
			<div class="coach-service">	
				<img class="img-x" src="static/mobile/img/coach-service.png" />
			</div>
			
			<!--会员评价-->
			<div class="coach-tit">会员评价</div>
			<div class="coach-eva">
				
				<div class="coach-eva-li" ng-repeat="i in info.comment" ng-init="nowStars=getStarsTwo(i.rate)">
					<div class="coach-eva-top">
						<div class="coach-eva-img" ng-style="'uploads/'+i.avatar | allBg"></div>
						<div class="coach-eva-vor">
							<div class="coach-eva-name">{{i.real_name}}</div>
							<div class="coach-eva-stars">
								<span ng-repeat="i in nowStars"></span>
							</div>
						</div>
						<div class="coach-eva-time">{{i.create_time | limitTo:10}}</div>
						<div class="coach-eva-coursename">{{i.course_name}}</div>
					</div>				
					<div class="coach-eva-txt">{{i.content}}</div>				
				</div>
				<div class="tc c-9 m-t-30" ng-if="!info.comment || info.comment.length==0">该私教暂时没有评价</div>
			</div>

		</div>

    </ion-content>
	
	<ion-footer-bar class="hx-foot">
		
		<a href="javascript:;" class="qcyd-btn qcyd-btn-large" ng-click="go()">购买</a>
			
    </ion-footer-bar>
	
</ion-view>



