<!--我的订单-->
<ion-view class="hx-page" hide-nav-bar="true" ng-init="setDocumentTitle('我的订单')" ng-controller="orderCtrl">

	<ion-header-bar class="hx-pd tab-head">
		<div class="p-rel tab-nav">
			<div class="tab-nav-li" ng-click="toggleActive(0)"  ng-class="{'tab-nav-li-gray':active==1}">未支付</div>	
			<div class="tab-nav-li" ng-click="toggleActive(1)"  ng-class="{'tab-nav-li-gray':active==0}">已支付</div>	
			<div class="p-abs anime-ease tab-nav-look"></div>
		</div>
    </ion-header-bar>

    <ion-content class="tab-cont" overflow-scroll="false" scrollbar-y="false" has-bouncing="false" delegate-handle="mainScroll">
		
		<!--未支付订单-->
		<div ng-if="active==0">
			<ion-refresher
                    spinner="ios"
                    pulling-icon="ion-arrow-down-c"
                    pulling-text="下载刷新"
                    refreshing-text="加载中..."
                    on-refresh="doPTRefresh()">
        	</ion-refresher>
        	
        		<div class="hx-pd order" ng-repeat="i in notPaypage.list">
        			<div class="p-rel order-mode">
        				<div class="order-mode-img" ng-style="'uploads/'+i.image | adaptBg"></div>
        				<div class="order-mode-tit">{{i.product_info}}</div>
        				<div class="p-abs order-mode-time">{{i.create_time}}</div>
        			</div>
        			<div class="p-rel order-pay">
        				<div>
        					还需要支付：
        					<span ng-if="i.pre_paid">{{nowParice=i.price-i.pre_paid}}</span>
        					<span ng-if="!i.pre_paid">{{i.price}}</span>
        					RMB
        				</div>
        				<a href="javascript:;" ng-if="i.pay_status==0" class="p-abs order-pay-btn" ng-click="pay(i.order_id)">立即支付</a>
        				<a href="javascript:;" ng-if="i.pay_status==0" class="p-abs order-pay-btn bg-9" ng-click="cancelPay(i)">取消订单</a>
        				<a href="javascript:;" ng-if="i.pay_status==2" class="p-abs order-pay-btn bg-9">已取消</a>
        			</div>
        		</div>
        	
	        <ion-infinite-scroll
	                    ng-if="notPaypage.currPage < notPaypage.totalPage"
	                    spinner="android"
	                    distance="1%"
	                    on-infinite="onPTLoadMore()">
	        </ion-infinite-scroll>
	        
	        <div class="tc c-9 m-t-30" ng-if="notPaypage.list.length==0">没有未支付订单</div>
		</div>
		
		<!--已支付订单-->
		<div ng-if="active==1">
			<ion-refresher
                    spinner="ios"
                    pulling-icon="ion-arrow-down-c"
                    pulling-text="下载刷新"
                    refreshing-text="加载中..."
                    on-refresh="doPTRefresh()">
        	</ion-refresher>
        	
        		<div class="hx-pd order" ng-repeat="i in Paypage.list">
        			<div class="p-rel order-mode">
        				<div class="order-mode-img" ng-style="'uploads/'+i.image | adaptBg"></div>
        				<div class="order-mode-tit">{{i.product_info}}</div>
        				<div class="p-abs order-mode-time">{{i.create_time}}</div>
        			</div>
        		</div>
        
	        <ion-infinite-scroll
	                    ng-if="Paypage.currPage < Paypage.totalPage"
	                    spinner="android"
	                    distance="1%"
	                    on-infinite="onPTLoadMore()">
	        </ion-infinite-scroll>
	        
	        <div class="tc c-9 m-t-30" ng-if="Paypage.list.length==0">没有已支付订单</div>
		</div>
		

    </ion-content>

</ion-view>





