<ion-view class="hx-page" hide-nav-bar="true" ng-init="setDocumentTitle('会员充值')" ng-controller="rechargeCtrl">

    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
	
		<div class="recharge-mode">
			<div class="recharge-hr">充值金豆&nbsp;&nbsp;(一元等于一金豆)</div>
			<input class="recharge-money" type="tel" ng-model="pay.num" placeholder="RMB" ng-keyup="rel(pay.num)" />
		</div>
		
		<div class="hx-pd">
			<a href="javascript:;" class="qcyd-btn qcyd-btn-large" ng-click="go()">立即提交</a>
		</div>
		
    </ion-content>

</ion-view>





