<div class="changepassword general" ng-controller="changepasswordController">
    <div class="top row">
        <div class="m-b-sm row f-14 c-3">您当前的位置：<span>修改密码</span></div>
    </div>
    <div class="content">
        <div class="row" style="height: 100%; margin-top: 100px;">
            <form name="form" class="form-validation col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                       <input type="password" placeholder="旧密码" name="password" class="form-control no-border" ng-model="info.old_password" required>
                    </div>
                    <div class="list-group-item">
                       <input type="password" placeholder="新密码" name="password" class="form-control no-border" ng-model="info.password" required>
                    </div>
                    <div class="list-group-item">
                       <input type="password" placeholder="确认新密码" name="password" class="form-control no-border" ng-model="info.repassword" required>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 m-b-sm">
                    <a type="submit" class="btn btn-lg btn-primary btn-block" ng-click="save()" ng-disabled='form.$invalid'>确 定</a>
                </div>
                <div class="col-md-6 col-xs-6 m-b-sm">
                    <a href="JavaScript:history.go(-1)" class="btn btn-lg btn-primary btn-block">取 消</a>
                </div>
            </form>
        </div>
    </div>
</div>