<div class="bg">
    <div class="new-commoncourse upimg" ng-controller="newprivateController">
        <div class="title bc-darkpurple">
            <div class="pull-left details">私教课详情</div>
            <div class="pull-right close" ng-click="location('app/course/2')">X</div>
        </div>
        <div class="content">
            <div class="m-fengmian row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right wenzi">封面：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <script type="text/javascript" src="/static/manager/js/plugin/cropper/sitelogo.js"></script>
                    <div type="button" data-toggle="modal" data-target="#avatar-modal">
                        <div class="m-fm">
                            <img class="upload-img">
                            <div class="m-fm-sc">上传封面</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">课程名称：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.course_name" type="text" placeholder="如：TRX-核心训练">
                </div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">原价：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.origin_price" type="text" placeholder="如：499">
                </div>
                <div class="col-md-1 col-xs-1 no-padder text-center">元</div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">优惠价：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.price" type="text"  placeholder="如：300">
                </div>
                <div class="col-md-1 col-xs-1 no-padder text-center">元</div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">所属教练：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <select ng-model="info.coach_user_id" ng-options="i.user_id as i.real_name for i in newCoachList.list">
                    </select>
                </div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">最低购买：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.min_buy" type="text" placeholder="如：12" required>
                </div>
                <div class="col-md-1 col-xs-1 no-padder text-center">节</div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">最多购买：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.max_buy" type="text" placeholder="如：1" required>
                </div>
                <div class="col-md-1 col-xs-1 no-padder text-center">节</div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">有效天数：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.expire_day" type="text" placeholder="如：12">
                </div>
                <div class="col-md-1 col-xs-1 no-padder text-center">天</div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">消耗千卡：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <input ng-model="info.kcal" type="text" placeholder="如：1" required>
                </div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">训练难度：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <select ng-model="info.level">
                        <option value="1">一般</option>
                        <option value="2">进阶</option>
                    </select>
                </div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">状态：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <select ng-model="info.status">
                        <option value="1">正常</option>
                        <option value="0">锁定</option>
                    </select>
                </div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">详情图：</div>
                <div class="col-md-8 col-xs-8 padder-lr-none"><button class="btn add-picture" type="button" data-target="#avatar-modal1" data-toggle="modal">添加图片</button></div>
            </div>
            <div class="row m-b">
                <script type="text/javascript" src="/static/manager/js/plugin/cropper/sitelogo1.js"></script>
                <div class="details-figure col-md-8 col-xs-8 col-md-offset-3 col-xs-offset-3 no-padder text-left"></div>
            </div>
            <div class="alone row m-b">
                <div class="col-md-3 col-xs-3 no-padder text-right">简介：</div>
                <div class="col-md-8 col-xs-8 no-padder text-left">
                    <div class="txtedit">
                        <div class="summernote" id="intro"></div>
                    </div>
                </div>
            </div>
            <div class="alone row m-b">
                <button class="col-md-offset-3 col-xs-offset-3 btn save" ng-click="save()">保存</button>
                <button class="btn cancel" ng-click="location('app/course/1')">取消</button>
            </div>
        </div>

        <div myimg class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="avatar-form">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                            <h4 class="modal-title" id="avatar-modal-label">上传图片</h4>
                        </div>
                        <div class="modal-body">
                            <div class="avatar-body">
                                <div class="avatar-upload">
                                    <input class="avatar-src" name="avatar_src" type="hidden">
                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                    <button class="btn btn-danger"  type="button" style="height: 35px;" onclick="$('input[id=avatarInput]').click();">请选择图片</button>
                                    <span id="avatar-name"></span>
                                    <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file"></div>
                                <div class="row">
                                    <div class="avatar-wrapper"></div>
                                    <div class="avatar-preview preview-lg" id="imageHead"></div>
                                </div>
                                <div class="row avatar-btns">
                                    <div class="col-md-5 col-xs-5 no-padder">
                                        <div class="btn-group">
                                            <button class="btn btn-danger fa fa-undo" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"> 向左旋转</button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn  btn-danger fa fa-repeat" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"> 向右旋转</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-4 no-padder" style="text-align: right;">
                                        <button class="btn btn-danger fa fa-arrows" data-method="setDragMode" data-option="move" type="button" title="移动">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                                        </span>
                                      </button>
                                      <button type="button" class="btn btn-danger fa fa-search-plus" data-method="zoom" data-option="0.1" title="放大图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
                                          <!--<span class="fa fa-search-plus"></span>-->
                                        </span>
                                      </button>
                                      <button type="button" class="btn btn-danger fa fa-search-minus" data-method="zoom" data-option="-0.1" title="缩小图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
                                          <!--<span class="fa fa-search-minus"></span>-->
                                        </span>
                                      </button>
                                      <button type="button" class="btn btn-danger fa fa-refresh" data-method="reset" title="重置图片">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;reset&quot;)" aria-describedby="tooltip866214">
                                       </button>
                                    </div>
                                    <div class="col-md-3 col-xs-3 padder-r-none">
                                        <button class="btn btn-danger btn-block avatar-save fa fa-save" type="button" data-dismiss="modal"> 保存修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div myimg1 class="modal fade" id="avatar-modal1" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="avatar-form1">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                            <h4 class="modal-title" id="avatar-modal-label">上传图片</h4>
                        </div>
                        <div class="modal-body">
                            <div class="avatar-body">
                                <div class="avatar-upload1">
                                    <input class="avatar-src1" name="avatar_src1" type="hidden">
                                    <input class="avatar-data1" name="avatar_data1" type="hidden">
                                    <button class="btn btn-danger"  type="button" style="height: 35px;" onclick="$('input[id=avatarInput1]').click();">请选择图片</button>
                                    <span id="avatar-name1"></span>
                                    <input class="avatar-input1 hide" id="avatarInput1" name="avatar_file1" type="file"></div>
                                <div class="row">
                                    <div class="avatar-wrapper1"></div>
                                    <div class="avatar-preview1 preview-lg" id="imageHead1"></div>
                                </div>
                                <div class="row avatar-btns1">
                                    <div class="col-md-5 col-xs-5 no-padder">
                                        <div class="btn-group">
                                            <button class="btn btn-danger fa fa-undo" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"> 向左旋转</button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn  btn-danger fa fa-repeat" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"> 向右旋转</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-4 no-padder" style="text-align: right;">
                                        <button class="btn btn-danger fa fa-arrows" data-method="setDragMode" data-option="move" type="button" title="移动">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                                        </span>
                                      </button>
                                      <button type="button" class="btn btn-danger fa fa-search-plus" data-method="zoom" data-option="0.1" title="放大图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
                                          <!--<span class="fa fa-search-plus"></span>-->
                                        </span>
                                      </button>
                                      <button type="button" class="btn btn-danger fa fa-search-minus" data-method="zoom" data-option="-0.1" title="缩小图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
                                          <!--<span class="fa fa-search-minus"></span>-->
                                        </span>
                                      </button>
                                      <button type="button" class="btn btn-danger fa fa-refresh" data-method="reset" title="重置图片">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;reset&quot;)" aria-describedby="tooltip866214">
                                       </button>
                                    </div>
                                    <div class="col-md-3 col-xs-3 padder-r-none">
                                        <button class="btn btn-danger btn-block avatar-save1 fa fa-save" type="button" data-dismiss="modal"> 保存修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $('.summernote').summernote({
                    height:120,
                });
            });

            function removePic(num){
                $('.removePic[picid="'+num+'"]').parents('.bb').remove();

            }
            //记录
            var picSum = [],
                picId  = 0;

            $(document).ready(function(){//点击添加详情图

                $("button.avatar-save1").click(function(){

                    picId++;
                    picSum.push(picId);

                    $("div.details-figure").append(function(){
                        return  '<div class="col-md-3 col-xs-3 no-padder bb" id="'+picId+'" data-img="">'+
                                    '<div style="width:85px;height:50px;margin-bottom:10px;">'+
                                        '<img class="img2" style="width:85px;height:50px;">'+
                                    '</div>'+
                                    '<div onclick="removePic('+picId+')" class="wenzi removePic" picid="'+picId+'" style="position: relative;top: -60px;right:-70px;width: 15px;height:15px;line-height:15px;background-color: rgba(0,0,0,0.3);color: #fff;text-align: center;cursor: pointer">'+
                                        'X'+
                                    '</div>'+
                                '</div>';
                    });
                });
            });
        </script>
    </div>
</div>
