<div class="statistica-bean statistica general " ng-controller="statisticaBeanController">
	<div class="top row">
		<div class="weizhi">
			<div class="m-b-sm col-md-6 col-xs-6 no-padder">您当前的位置：<span class="c-orange font-bold">{{txt}}</span></div>
			<div class="m-b-sm col-md-6 col-xs-6 no-padder fanhui edit-w" ng-click="go()">返回</div>
		</div>
		<div class="screening row">
			<div class="select">
				<div class="m-select">
					<span class="time">开始时间</span>
					<input type="text" data-field="datetime" ng-model="parmList.start_time" ng-change="load()" readonly>
				</div>
				<div class="m-select">
					<span class="time">结束时间</span>
					<input type="text" data-field="datetime" ng-model="parmList.end_time" ng-change="load()" readonly>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="box row">
			<div class="list row">
				<div class="col-md-2 col-xs-2 m-box no-padder">会员头像</div>
				<div class="col-md-3 col-xs-3 m-box no-padder">会员名称</div>
				<div class="col-md-2 col-xs-2 m-box no-padder">电话</div>
				<div class="col-md-2 col-xs-2 m-box no-padder">充值金额</div>
				<div class="col-md-3 col-xs-3 m-box no-padder">充值时间</div>
			</div>
			<div class="list-details" ng-repeat="v in statisticaBeansList.list">
				<div class="col-md-2 col-xs-2 m-box no-padder touxiang">
					<img ng-style="'uploads/'+v.avatar | adaptBg">
				</div>
				<div class="col-md-3 col-xs-3 m-box no-padder">{{v.real_name}}</div>
				<div class="col-md-2 col-xs-2 m-box no-padder">{{v.phone}}</div>
				<div class="col-md-2 col-xs-2 m-box no-padder">{{v.price}}</div>
				<div class="col-md-3 col-xs-3 m-box no-padder">{{v.pay_time}}</div>
			</div>
		</div>
		<div class="page-footer">
			<div class="pull-left col-md-6 col-xs-6 no-padder text-left">
				<span class="text-sm">共{{statisticaBeansList.total_results}}条记录，共{{statisticaBeansList.total_pages}}页，</span>
				<span class="text-sm">当前显示第{{statisticaBeansList.page_no}}页，</span>
				<span class="text-sm">每页显示{{statisticaBeansList.page_size}}条</span>
			</div>
        	<div class="col-md-6 col-xs-6 no-padder text-right">
        		<pagination total-items="statisticaBeansList.total_results" ng-model="parmList.page_no" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="statisticaBeansList.page_size" ng-click="pages()" items-per-page="statisticaBeansList.page_size"></pagination>
        	</div>
		</div>
	</div>
	<div id="dtBox"></div>
</div>