<ion-view class="hx-page" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('会员卡列表')" ng-controller="cardListCtrl">

<!--<ion-header-bar class="tab-head" style="padding: 0;">
		<div class="p-rel tab-nav tab-nav2">
			<div class="tab-nav-li" ng-click="toggleActive(0)" ng-class="{'tab-nav-li-gray':categoryVal!=0}">年卡</div>
			<div class="tab-nav-li" ng-click="toggleActive(20)" ng-class="{'tab-nav-li-gray':categoryVal!=20}">家庭卡</div>
			<div class="tab-nav-li" ng-click="toggleActive(40)" ng-class="{'tab-nav-li-gray':categoryVal!=40}">月卡</div>
			<div class="tab-nav-li" ng-click="toggleActive(60)" ng-class="{'tab-nav-li-gray':categoryVal!=60}">次卡</div>
			<div class="tab-nav-li" ng-click="toggleActive(80)" ng-class="{'tab-nav-li-gray':categoryVal!=80}">活动卡</div>
			<div class="p-abs anime-ease tab-nav-look"></div>
		</div>
	</ion-header-bar>-->
	
	<ion-header-bar class="header-80 p-rel">
		
		<!--场馆选择-->
		<div class="club-header" ng-click="showCity()">
			<img ng-src="static/mobile/img/icon/map-city.png">
			{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}-{{shop.county}}-{{shop.name}}
		</div>
		
		<div class="people-mode">
			<div>当前在场 {{peopleSum}} 人</div>
		</div>
		
    </ion-header-bar>

	<ion-content class="cardlist-cont" overflow-scroll="false" scrollbar-y="false" has-bouncing="true" delegate-handle="mainScroll">
		<!--老版会员卡列表-->
	<!--	
		<div class="hx-pd card-pd">
			<div class="card-mode" ng-click="location('users/card-dtl/{{i.card_id}}')" ng-repeat="i in cardList">
				<div class="card-mode-bg" ng-style="'uploads/'+i.image | adaptBg"></div>
				<div class="card-mode-tit tr">周一至周日 00:00-24:00</div>
				<div class="card-mode-name">{{i.card_name}}</div>
				<div class="card-mode-money">原价:￥{{i.origin_price}}</div>
				<div class="card-mode-money c-yl">现价:￥{{i.price}}</div>
			</div>
		</div>
	-->

		<!--新版会员卡列表-->
		<div class="hx-pd">
			<!--<div class="card-li" ng-repeat="i in cardList | filter : {card_name:categoryName}" ng-click="location('users/card-dtl/{{i.card_id}}')">-->
			<div class="card-li" ng-repeat="i in cardList" ng-click="go(i.card_id)">
				<div class="card-img" ng-style="'uploads/'+i.image | adaptBg"></div>
				<div class="card-name">{{i.card_name}}</div>
				<div class="card-txt" ng-if="i.groups.length==0">全国通用卡</div>
				<div class="card-txt" ng-if="i.groups.length>0">24H</div>
<!--				<div class="card-txt" ng-if="i.groups.length>0">24H</div>-->
				<div class="card-money">
					<span class="card-price">￥<em>{{i.price}}</em></span>
					<span class="card-origin_price" ng-if="i.price != i.origin_price">￥<em>{{i.origin_price}}</em></span>
				</div>
			</div>
		</div>
		
		<div class="tc c-9 m-t-30" ng-if="!cardList || cardList.length==0">该场馆暂时没有会员卡出售，看看其他吧</div>
		
	</ion-content>

	<ion-footer-bar class="hx-foot">

		<div class="tabs tabs-icon-top foot-nav">
			<a href="#/users/groupCourse-list" class="tab-item">
				<i class="icon ion-android-calendar"></i>
				<div>团课预约</div>
			</a>
			<a href="#/users/coach-list" class="tab-item">
				<i class="icon ion-android-contacts"></i>
				<div>私教中心</div>
			</a>
			<a href="javascript:;" class="tab-item c-yl">
				<i class="icon ion-card"></i>
				<div>会员卡</div>
			</a>
			<a href="#/users/index" class="tab-item">
				<i class="icon ion-android-person"></i>
				<div>个人中心</div>
			</a>
		</div>

	</ion-footer-bar>
	
	
	<!--城市menu-->
	<div loadcity class="region-mode">
		
		<div class="region-tit">
			选择城市
			<div class="region-close" ng-click="closeCity()">
				<div></div>
			</div>
		</div>
		
		<div class="region-cont">
			
			<div class="region-nav" ng-repeat="i in citys" type="0" ng-click="getProvince(i.province,$index,i.child[0].city)">
				
				<div class="region-nav-tit" ng-class='{"c-red" : i.province == userLoc.province}'>{{i.province}}</div>
				<div class="region-snav">
					<div ng-repeat="p in i.child" ng-class='{"c-red" : p.city == userLoc.city}'  ng-click="getCity(p.city,false)">{{ p.city == i.province ? '主城区':p.city}}</div>
				</div>
				
			</div>
			
		</div>
		
		<br />
		<br />
		<br />
		
		<div class="region-tit">
			选择场馆
		</div>
		<div class="region-cont">

			<div class="region-nav" ng-repeat="i in shop.list track by $index" type="0" ng-click="getShopId(i,true)">
				
				<div class="region-nav-tit" ng-class='{"c-red" : i.shop_id == shop.id}'>{{i.county}}-{{i.shop_name}}</div>

			</div>
			
		</div>
		
	</div>
	
</ion-view>