<ion-view id="user-card-dtl" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('会员卡详情')" ng-controller="userCardDtlCtrl">
	<ion-content class="user-scroll"  overflow-scroll="false" scrollbar-y="false" has-bouncing="true" delegate-handle="mainScroll">
		<!--会员卡详情-->
		<div class="card-content">
			<div class="user-content">
				<div class="card-dtl">
					<div class="card-img" ng-style="'uploads/'+cardDtl.image | adaptBg"></div>
				</div>
				<div class="card-name">{{cardDtl.card_name}}</div>
				<div class="card-price">￥<span>{{cardDtl.price}}</span></div>
				<div class="card-txt">{{shop.name}}<span>*24H</span></div>
				<div class="row card-addr">
			    <div class="col col-75 addr-name" loadcity>
			    	{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}·{{shop.county}}-{{shop.name}}
			    </div>
			    <div class="col col-25 addr-icon"><img class="icon" src="./static/mobilev2/images/location_icon.png" /></div>
			  </div>
			  <div class="img-dtl"><img src="./static/mobilev2/images/card-dtl.jpg" /></div>
			</div>
		  
		</div>
	</ion-content>
	<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-content id="buyCard-model" has-bouncing="false">
				<div class="mwq-content-card">
					<div class="dtl-padder">
						<div class="card-dtl">
							<div class="card-img" ng-style="'uploads/'+cardDtl.image | adaptBg"></div>
							<div class="card-txt">
		        		<div class="card-price">
		        			<button class="price">￥{{cardDtl.price}}</button>
		        			<button class="reduce" ng-if="cardDtl.price != cardDtl.origin_price">已减{{::cardDtl.origin_price-cardDtl.price}}</button>
		        		</div>
		        		<div class="card-ins">已选择：{{cardDtl.card_name}} <span>24H*{{cardDtl.days}}天</span></div>
		        	</div>
		        	<div class="card-close" ng-click="closeModal()"><img src="./static/mobilev2/images/close_icon.png" alt=""></div>
						</div>
						<div class="card-name"><button>{{cardDtl.card_name}}</button></div>
		        <div class="counselor" ng-click="openModal1()"><span>销售顾问</span><img src="./static/mobilev2/images/arrow_icon.png" alt=""></div>
					</div>
					<div class="order-submit" ng-click="go()">提交订单</div>	
				</div>
      </ion-content>
    </ion-modal-view>
  </script>
  <script id="templates/counselor.html" type="text/ng-template">
    <ion-modal-view>
      <ion-content id="counselor-model" has-bouncing="false">
      	<div class="mwq-content-counselor">
      		<div class="title" ng-click="closeModal1()"><img src="./static/mobilev2/images/arrow_icon.png" alt="">选择销售顾问</div>
      		<ion-content has-bouncing="true" style="margin-top: 1.267rem;">
	      		<div class="dtl-padder">
	      			<div class="counselor-list">
								<div class="content">
				        	<div class="saleman-list" ng-repeat="i in salemanList">
				        		<div class="list" name="{{i.saleman_id}}" ng-click="selectSale(i.saleman_id,i.real_name)">
				        			<span>{{i.real_name}}</span>
				        			<span class="selected"></span>
				        		</div>
				        	</div>
				        </div>
			      	</div>
	      		</div>
      		</ion-content>
      	</div>

      </ion-content>
    </ion-modal-view>
  </script>
  <style>
    .modal {
      display: block;
      position: absolute;
      top: 0;
      z-index: 10;
      overflow: hidden;
      min-height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.3);
    }
    #buyCard-model{
	    background: rgba(0,0,0,0) !important;
    }
    #buyCard-model .scroll{
    	height: 100%;
    }
    .mwq-content-card{
    	background: #fff;
    	width: 100%;
    	height: 7.12rem;
    	position: absolute;
    	bottom: 0;
    }
    #counselor-model{
      background: rgba(0,0,0,0) !important;
    }
    .mwq-content-counselor{
    	background: #fff;
    	width: 100%;
    	height: 7.12rem;
    	position: absolute;
    	bottom: 0;
    }
    #counselor-model .scroll{
    	height: 100%;
    }
    .modal-backdrop {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1040;
	    background-color: rgba(0,0,0,0);
		}
  </style>
  <ion-footer-bar id="footer-btn" class="no-padder">
		<div class="card-btn row row-l row-r">
	  	<div class="col col-60">
	  		<div class="card-btn-price">总价 <span class="money-icon">￥</span> <span class="money">{{cardDtl.price}}</span></div>
	  	</div>
	  	<div class="col col-40">
				<div class="card-btn-buy" ng-click="openModal(cardDtl)">立即购买</div>
	  	</div>
	  </div>
	</ion-footer-bar>
</ion-view>

