<ion-view class="hx-page" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('课程购买')" ng-controller="coachPayCtrl">

    <ion-content class="hx-cont-noTop coach-pay" overflow-scroll="false" scrollbar-y="false" has-bouncing="true" ng-show="coach">

		<div class="hx-pd bg-f ix-list">
			
			<div class="coach-pay-top">
				<div class="coach-img" ng-style="'uploads/'+coach.cover | adaptBg"></div>
				<div class="coach-name">{{coach.course_name}}</div>
				<div class="coach-txt">{{coach.min_buy}}课时起售</div>
				<div class="coach-money">￥<span>{{coach.price}}</span> / 课时</div>
			</div>
			
			<div class="list xp-list">
				<div class="item">
			      	课时*<span>({{coach.min_buy}}节课起售)</span>
			      	<div class="course-section">
			      		<a href="javascript:;" class="section-ck" ng-click="add()"></a>
			      		<em class="section-num">{{coach.now_buy}}</em>
			      		<a href="javascript:;" class="section-ck" ng-click="rde()"></a>
			      	</div>
			    </div>
			    <div class="item">
			    	<div class="coach-total">
			    		总计：<em>￥{{coach.money}}</em>
			    	</div>
			    </div>
			</div>
		</div>

    </ion-content>
	
	<ion-footer-bar class="hx-foot" ng-show="coach">
		
		<a href="javascript:;" class="qcyd-btn qcyd-btn-large" ng-click="createOrder()">立即提交</a>
			
    </ion-footer-bar>

</ion-view>
