<ion-view class="hx-page" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('私教中心')" ng-controller="coachListCtrl">

	<ion-header-bar class="header-80 p-rel">
		
		<!--场馆选择-->
		<div class="club-header" ng-click="showCity()">
			
			<img ng-src="static/mobile/img/icon/map-city.png">
			{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}-{{shop.county}}-{{shop.name}}
			
		</div>
		
<!--	<select class="club-sel" ng-model="shopId" ng-options="i.shop_id as i.county+'--'+i.shop_name for i in loadShopList" ng-change="getName()">
			
		</select>-->
		
    </ion-header-bar>

    <ion-content class="coach-cont" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		
		<div class="coach-row">
			
			<a href="javascript:;" class="coach-col" ng-click="get('增肌',2)">
				<div class="coach-col-img"><img src="static/mobile/img/icon/muscle.png"  /></div>
				<div class="coach-col-txt">增肌</div>
			</a>
			<a href="javascript:;" class="coach-col" ng-click="get('产后恢复',2)">
				<div class="coach-col-img"><img src="static/mobile/img/icon/recovery.png"  /></div>
				<div class="coach-col-txt">产后恢复</div>
			</a>
			<a href="javascript:;" class="coach-col" ng-click="get('格斗',2)">
				<div class="coach-col-img"><img src="static/mobile/img/icon/combat.png"  /></div>
				<div class="coach-col-txt">格斗</div>
			</a>
			<a href="javascript:;" class="coach-col" ng-click="get('瑜伽',2)">
				<div class="coach-col-img"><img src="static/mobile/img/icon/Yoga.png"  /></div>
				<div class="coach-col-txt">瑜伽</div>
			</a>
			<a href="javascript:;" class="coach-col" ng-click="get('减脂塑形',2)">
				<div class="coach-col-img"><img src="static/mobile/img/icon/shaping.png"  /></div>
				<div class="coach-col-txt">减脂塑形</div>
			</a>
			
		</div>
		<div class="hx-pd">
			
			<!--筛选 -->
			<div class="coach-screen">
				<div class="coach-screen-li" ng-class="{'c-yl':list.order==''}" ng-click="sort(1)">综合</div>
				<div class="coach-screen-li coach-screen-arrow" ng-click="sort(2)">
					销量
					<span ng-class="{'top-yl'	:list.order=='buy_num asc'}"></span>
					<span ng-class="{'bottom-yl':list.order=='buy_num desc'}"></span>
				</div>
				<div class="coach-screen-li coach-screen-arrow" ng-click="sort(3)">
					价格
					<span ng-class="{'top-yl'	:list.order=='price asc'}"></span>
					<span ng-class="{'bottom-yl':list.order=='price desc'}"></span>
				</div>
				<div class="coach-screen-li" ng-click="look()">
					{{nowTxt}}
					<span class="coach-icon-screen"></span>
				</div>
			</div>
			
			<!--私教列表-->
			<div class="coach-li" ng-repeat="i in coachList track by $index" ng-init="stars=getStars(i.score)" ng-click="go(i.coach_id)">
				<div class="coach-img" ng-style="'uploads/'+i.avatar | adaptBg"></div>
				<div class="coach-name">{{i.coach_name}}</div>
				<div class="coach-stars">
					<span ng-repeat="j in stars"></span>
					<!--					
						暂时先隐藏
						<div class="coach-txt">/ 累计上课{{i.count}}节</div>
					-->
				</div>
				<div class="coach-good">
					<span ng-repeat='k in i.speciality'>{{k}}</span>
				</div>
				<div class="coach-money">
					￥<span>{{i.price}}</span> / 课时起
				</div>
				<div class="coach-hr"></div>
			</div>
			
			<div class="tc c-9 m-t-30" ng-if="!coachList || coachList.length==0">暂时没有服务的私教，换其他场馆吧</div>
		</div>
	
    </ion-content>

    <ion-footer-bar class="hx-foot">
		
		<div class="tabs tabs-icon-top foot-nav">
		  <a href="#/users/groupCourse-list" class="tab-item">
		    <i class="icon ion-android-calendar"></i>
		    	<div>团课预约</div>
		  </a>
		  <a href="javascript:;" class="tab-item c-yl">
		    <i class="icon ion-android-contacts"></i>
		        <div>私教中心</div>
		  </a>
		  <a href="#/users/card-list" class="tab-item">
		    <i class="icon ion-card"></i>
		        <div>会员卡</div>
		  </a>
		  <a href="#/users/index" class="tab-item">
		    <i class="icon ion-android-person"></i>
		        <div>个人中心</div>
		  </a>
		</div>
		
    </ion-footer-bar>
	
	<!--筛选列表-->
	<div class="hx-pd screen-mode">
		<div class="screen-tit">教练性别</div>
		<div class="screen-div">
			<div ng-class="{'ck-yl':list.sex==1}" ng-click="get(1,1)">男</div>
			<div ng-class="{'ck-yl':list.sex==2}" ng-click="get(2,1)">女</div>
		</div>
		<div class="screen-tit">健身需求</div>
		<div class="screen-div screen-demand">
			<div ng-repeat="i in demand" ng-class="{'ck-yl':demand[$index]==list.speciality}" ng-click="get(i,2)">{{i}}</div>
		</div>
	</div>
	
	<!--城市menu-->
	<div loadcity class="region-mode">
		
		<div class="region-tit">
			选择城市
			<div class="region-close" ng-click="closeCity()">
				<div></div>
			</div>
		</div>
		
		<div class="region-cont">
			
			<div class="region-nav" ng-repeat="i in citys" type="0" ng-click="getProvince(i.province,$index,i.child[0].city)">
				
				<div class="region-nav-tit" ng-class='{"c-red" : i.province == userLoc.province}'>{{i.province}}</div>
				<div class="region-snav">
					<div ng-repeat="p in i.child" ng-class='{"c-red" : p.city == userLoc.city}'  ng-click="getCity(p.city,false)">{{ p.city == i.province ? '主城区':p.city}}</div>
				</div>
				
			</div>
			
		</div>
		
		<br />
		<br />
		<br />
		
		<div class="region-tit">
			选择场馆
		</div>
		<div class="region-cont">

			<div class="region-nav" ng-repeat="i in shop.list track by $index" type="0" ng-click="getShopId(i,true)">
				
				<div class="region-nav-tit" ng-class='{"c-red" : i.shop_id == shop.id}'>{{i.county}}-{{i.shop_name}}</div>

			</div>
			
		</div>
		
	</div>
	
</ion-view>





