<ion-view id="user-comCourse-dtl" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('公共课详情')" ng-controller="userComCourseDtlCtrl">
	<ion-content class="user-scroll"  overflow-scroll="false" scrollbar-y="false" has-bouncing="true" delegate-handle="mainScroll">
		<!--公共课详情-->
		<div class="comCourse-content">
			<div class="comCourse-img" ng-style="'uploads/'+comCourseDtl.course.cover | adaptBg"></div>
			<!-- <div ng-if="comCourseDtl.course.images.length==0" class="comCourse-img" ng-style="'uploads/'+comCourseDtl.course.cover | adaptBg"></div>
			<div ng-if="comCourseDtl.course.images.length!=0">
				<ion-slide-box show-pager="false" class="slidebox"  auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
				  <ion-slide ng-repeat="i in comCourseDtl.course.images">
				    <img imgzoom ng-src="uploads/{{i}}" class="img-x" clsname="imgs" zoomurl="uploads/{{i}}" />
				   </ion-slide>
				</ion-slide-box>
			</div> -->
			<div class="user-content">
				<div class="course-name">
					<div class="name">{{comCourseDtl.course.course_name}}</div>
					<div class="appt-num"><span>预约满{{comCourseDtl.course.min_user}}人开课</span><span>累计参课{{comCourseDtl.course.signed}}人</span></div>
				</div>
				<div class="course-time row">
			    <div class="col col-75">
						<div class="time">
							<span>时间</span>
							<span>{{comCourseDtl.start_time | limitTo:10}}</span>
							<span>{{comCourseDtl.start_time | limitTo:-8 | limitTo:5}}-{{comCourseDtl.end_time | limitTo:-8 | limitTo:5}}</span>
						</div>
						<div class="addr">
							<span>地址</span>
							<span>{{comCourseDtl.shop.address}}</span>
						</div>
			    </div>
			    <div class="col col-25 addr-icon"><img class="icon" src="./static/mobilev2/images/location_icon.png" /></div>
				</div>
				<div class="coach row">
					<div class="col col-75">
						<div class="coach-name">{{comCourseDtl.coach_name}}</div>
						<div class="coach-intro">{{comCourseDtl.coach.intro}}</div>
			    </div>
			    <div class="col col-25 coach-img"><img class="icon" ng-style="'uploads/'+comCourseDtl.coach.avatar | adaptBg" /></div>
				</div>
				<div class="course-dtl">
					<div class="course-title primary-title">课程介绍</div>
					<div class="course-intro">{{comCourseDtl.course.intro}}</div>
					<div class="course-img" ng-repeat="i in comCourseDtl.course.images">
						<img ng-src="uploads/{{i}}" />
					</div>
					<!-- <div class="course-img" ng-repeat="i in comCourseDtl.course.images" ng-style="'uploads/'+i | adaptBg"></div> -->
				</div>
				<div class="course-appt-rules">
					<div class="row primary-title">
						<div class="col col-70">
							<div class="rules-txt">约课规则</div>
						</div>
						<div class="col col-30 t-r rules-btn" ng-click="goRules(comCourseDtl.plan_id)">规则详情</div>
					</div>
					<div><img src="./static/mobilev2/images/comcourse_img1.png" /></div>
					<div class="secondary-title">官方发起课程取消</div>
					<div class="specific-txt">课程开始前60分钟预约会员不足该课程最小开课人数时，后台系统会自动取消课程，请大家知悉，谢谢您的理解与配合；若开课后到场会员不足该课程最小开课人数，在征得您同意的情况下，教练可现场取消课程。</div>
				</div>
				<div class="discuss">
					<div class="course-title primary-title discuss-title">会员评价</div>
					<div class="discuss-list" ng-repeat="i in courseComment" ng-init="stars=getStars(i.rate)">
						<div class="comment-line1">
							<div class="head-icon"><img ng-style="'uploads/'+i.avatar | adaptBg" /></div>
							<div class="comment-title">
								<span class="user-name">{{i.real_name}}</span>
								<img class="stars" ng-repeat="j in stars" src="./static/mobilev2/images/star_icon.png" />
								<span class="f-r shop-name">{{i.shop_name}}</span>
							</div>
							<div class="comment-time">{{i.create_time | limitTo:10}}</div>
						</div>
						<div class="comment-line2">{{i.content}}</div>
					</div>
				</div>
				<div class="comment-more" ng-hide="courseComment.page_no == commentList.total_pages || commentList.total_pages == 0" ng-click="moreComment()">
					共{{commentList.total_results}}条评价
					<img class="click-more" src="./static/mobilev2/images/down_icon.png" />
				</div>
				<div class="t-c no-comment" ng-if="commentList.total_results == 0">暂时没有该课程的评价</div>
			</div>
		</div>
		<style>
			/*对话框样式*/
			.popup{
				/*width: 3.56rem !important;*/
				padding: 0.8rem !important;
				border-radius: 0.107rem !important;
				background-color: #fff !important;
				color: #323232;
			}
			.popup-head {
		    padding: 0 !important;
		    border-bottom: 0 !important;
		    text-align: center;
			}
			[data-dpr="1"] .popup{
				font-size: 16px;
			}
			[data-dpr="2"] .popup{
				font-size: 32px;
			}
			[data-dpr="3"] .popup{
				font-size: 48px;
			}
		</style>
	</ion-content>
	<ion-footer-bar id="footer-btn" class="no-padder">
		<div class="comCourse-btn row row-l row-r">
	  	<div class="col col-60 schedule">
  			<div class="appt-record">已约{{comCourseDtl.user_count}}/{{comCourseDtl.max_count}}</div>
	  		<div class="progress">
					<div class="progress-bar" style="width:{{progressBar}}; background:#ff9d35;"></div>
				</div>
	  	</div>
	  	<div class="col col-40">
				<div class="comCourse-btn-buy" ng-click="save()">立即预约</div>
	  	</div>
	  </div>
	</ion-footer-bar>
</ion-view>





