<ion-view class="hx-page" hide-nav-bar="true" ng-init="setDocumentTitle('向我们反馈')" ng-controller="feedbackCtrl">

    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="true">

		<div class="hx-pd">
			
			<textarea ng-model="data.content" class="feedback-cont" maxlength="200"></textarea>
			<div class="tl c-9" style="margin: 15px 0 25px">请不要超过200字</div>
			<a href="javascript:;" class="qcyd-btn qcyd-btn-large" ng-click="go()">确认发送</a>
		
		</div>
		
    </ion-content>

</ion-view>





