<ion-view id="user-groCourse-list" hide-nav-bar="true" ng-init="setDocumentTitle('精品团课列表')" ng-controller="userGroCourseListCtrl">
	<div id="header">
	  <!--场馆选择-->
		<div class="home-shop" ng-click="showCity()">
			{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}-{{shop.name}}
			<img class="down-icon" src="./static/mobilev2/images/down_icon.png" alt="">
		</div>
		<div class="scan-icon"><img ng-click="scanQRCode()" src="./static/mobilev2/images/scan_icon.png" alt=""></div>
	</div>

	<ion-content class="user-scroll" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		<div class="user-content-no groList-content">
			<div class="course-list">
				<div class="course-li" ng-repeat="k in courseList" ng-click="go({{k}})">
					<div class="course-img" ng-style="'uploads/'+k.cover | adaptBg"></div>
					<div class="course-bg">
						<div class="mask">
							<div class="course-tag"><button class="c-32" ng-hide=" k.nick_name=='' ">{{k.nick_name}}</button></div>
							<div class="course-name c-w">{{k.course_name}}</div>
							<div class="coach-name c-w">
								{{k.coach.real_name}}&nbsp;&nbsp;&nbsp;&nbsp;周一/二/三/四/五 
								<span>起 / {{k.min_buy}}课时</span>
								<span class="course-price">{{::k.price*k.min_buy}}</span>
								<span>￥</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>

	<!--城市menu-->
	<div loadcity class="region-mode">
		<div class="region-tit">
			<div class="region-close" ng-click="closeCity()">
				<img src="./static/mobilev2/images/close_icon.png" alt="">
			</div>
			<div>选择区域</div>
		</div>
		<div class="region-cont">
			<div class="region-nav" style="height: 1.067rem;" ng-repeat="i in citys" type="0" ng-click="getProvince(i.province,$index,i.child[0].city)">
				<div class="region-nav-tit" ng-class='{"c-orange" : i.province == userLoc.province}'>{{i.province}}</div>
				<div class="region-snav">
					<div ng-repeat="p in i.child" ng-class='{"c-orange" : p.city == userLoc.city}'  ng-click="getCity(p.city,false)">{{ p.city == i.province ? '主城区':p.city}}</div>
				</div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div class="region-tit">
			选择场馆
		</div>
		<div class="region-cont">
			<div class="region-nav" ng-repeat="i in shop.list track by $index" type="0" ng-click="getShopId(i,true)">
				<div class="region-nav-tit" ng-class='{"c-orange" : i.shop_id == shop.id}'>{{i.county}}-{{i.shop_name}}</div>
			</div>
		</div>
	</div>
</ion-view>
