<ion-view id="user-groCourse-plan" hide-nav-bar="true" ng-init="setDocumentTitle('精品团课预约')" ng-controller="userGroCoursePlanCtrl">
	<div id="header">
	  <!--场馆选择-->
		<div class="home-shop" ng-click="showCity()">
			{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}-{{shop.name}}
			<img class="down-icon" src="./static/mobilev2/images/down_icon.png" alt="">
		</div>
		<div class="scan-icon"><img ng-click="scanQRCode()" src="./static/mobilev2/images/scan_icon.png" alt=""></div>
	</div>

	<ion-content class="user-scroll" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		<div class="user-content-no comCourse-content">
			<a  href="#/users/groCourse-list"><div class="groCourse-banner">课程列表</div></a>
			<div class="gro-title">精品团课课表</div>
			<!--日期选择-->
			<date-menu click="clickDateMenu" active="active"></date-menu>
			<div class="divider"></div>
			<div class="appt-two" ng-repeat="i in nowCourseList">
				<div class="appt-mode" ng-click="go(i.plan_id)">
					<div class="appt-mode-img">
						<div class="appt-mode-bg" ng-style="'uploads/'+i.image | adaptBg"></div>
						<div class="appt-mode-num" ng-if="i.max_count>i.user_count">已约{{i.user_count}}/{{i.max_count}}</div>
						<div class="appt-mode-num" ng-if="i.max_count==i.user_count">已约满</div>
						<div class="appt-mode-barBg"></div>
						<div class="appt-mode-barMv" ng-init="bar($index,i.user_count,i.max_count)"></div>
					</div>
					<div class="p-rel">
						<div class="appt-mode-tit">{{i.course_name}}<span ng-if="i.type==2" class="pay-course">(付费课)</span>&nbsp;&nbsp;{{getTime(i.start_time) | limitTo:6}} -{{getTime(i.end_time) | limitTo:6}}</div>
						<div class="appt-mode-txt">{{i.shop.shop_name}} / 预约{{i.min_count}}人开课 / 教练：{{i.coach_name}}</div>
					</div>
				</div>
      </div>
      <div class="no-course" ng-if="!nowCourseList || nowCourseList.length==0">暂时没有排课安排</div>
		</div>
	</ion-content>

	<!--城市menu-->
	<div loadcity class="region-mode">
		<div class="region-tit">
			<div class="region-close" ng-click="closeCity()">
				<img src="./static/mobilev2/images/close_icon.png" alt="">
			</div>
			<div>选择区域</div>
		</div>
		<div class="region-cont">
			<div class="region-nav" style="height: 1.067rem;" ng-repeat="i in citys" type="0" ng-click="getProvince(i.province,$index,i.child[0].city)">
				<div class="region-nav-tit" ng-class='{"c-orange" : i.province == userLoc.province}'>{{i.province}}</div>
				<div class="region-snav">
					<div ng-repeat="p in i.child" ng-class='{"c-orange" : p.city == userLoc.city}'  ng-click="getCity(p.city,false)">{{ p.city == i.province ? '主城区':p.city}}</div>
				</div>
			</div>
		</div>
		
		<br />
		<br />
		<br />
		
		<div class="region-tit">
			选择场馆
		</div>
		<div class="region-cont">

			<div class="region-nav" ng-repeat="i in shop.list track by $index" type="0" ng-click="getShopId(i,true)">
				
				<div class="region-nav-tit" ng-class='{"c-orange" : i.shop_id == shop.id}'>{{i.county}}-{{i.shop_name}}</div>

			</div>
			
		</div>
	</div>
</ion-view>
