<ion-view class="hx-page" hide-nav-bar="true" ng-init="setDocumentTitle('团课列表')" ng-controller="groupCourseListCtrl">
	
	<ion-header-bar class="header-230 p-rel" style="background:#fff">
		
		<!--场馆选择-->
		<div class="club-header" ng-click="showCity()">
			
			<img ng-src="static/mobile/img/icon/map-city.png">
			{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}-{{shop.county}}-{{shop.name}}
			
		</div>
		
<!--	<select class="club-sel" ng-model="shopId" ng-options="i.shop_id as i.county+'--'+i.shop_name for i in loadShopList" ng-change="getName()">
			
		</select>
-->
		
		<!--日期选择-->
		<date-menu click="clickDateMenu" active="active"></date-menu>
		
    </ion-header-bar>

    <ion-content class="group-cont" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		
		<div class="appt-two" ng-repeat="i in nowCourseList">
			
			<div class="appt-mode" ng-click="go(i.plan_id)">
				<div class="appt-mode-img">
					<div class="appt-mode-bg" ng-style="'uploads/'+i.image | adaptBg"></div>
					<div class="appt-mode-num" ng-if="i.max_count>i.user_count">已约{{i.user_count}}/{{i.max_count}}</div>
					<div class="appt-mode-num" ng-if="i.max_count==i.user_count">已约满</div>
					<div class="appt-mode-barBg"></div>
					<div class="appt-mode-barMv" ng-init="bar($index,i.user_count,i.max_count)"></div>
				</div>
				<div class="p-rel">
					<div class="appt-mode-tit">{{i.course_name}}<span ng-if="i.type==2" class="pay-course">(付费课)</span>&nbsp;&nbsp;{{getTime(i.start_time) | limitTo:6}} -{{getTime(i.end_time) | limitTo:6}}</div>
					<div class="appt-mode-txt">{{getYear(i.start_time)}} / {{i.shop.county}} {{i.shop.shop_name}} / 预约{{i.min_count}}人开课 / 教练：{{i.coach_name}}</div>
				</div>
			</div>
			
        </div>
		
		<div class="tc c-9 m-t-30" ng-if="!nowCourseList || nowCourseList.length==0">暂时没有排课安排</div>
		
    </ion-content>

    <ion-footer-bar class="hx-foot">
		
		<div class="tabs tabs-icon-top foot-nav">
		  <a href="javascript:;" class="tab-item c-yl">
		    <i class="icon ion-android-calendar"></i>
		    	<div>团课预约</div>
		  </a>
		  <a href="#/users/coach-list" class="tab-item">
		    <i class="icon ion-android-contacts"></i>
		        <div>私教中心</div>
		  </a>
		  <a href="#/users/card-list" class="tab-item">
		    <i class="icon ion-card"></i>
		        <div>会员卡</div>
		  </a>
		  <a href="#/users/index" class="tab-item">
		    <i class="icon ion-android-person"></i>
		        <div>个人中心</div>
		  </a>
		  
		</div>
		
    </ion-footer-bar>

	<!--城市menu-->
	<div loadcity class="region-mode">
		
		<div class="region-tit">
			选择城市
			<div class="region-close" ng-click="closeCity()">
				<div></div>
			</div>
		</div>
		
		<div class="region-cont">
			
			<div class="region-nav" ng-repeat="i in citys" type="0" ng-click="getProvince(i.province,$index,i.child[0].city)">
				
				<div class="region-nav-tit" ng-class='{"c-red" : i.province == userLoc.province}'>{{i.province}}</div>
				<div class="region-snav">
					<div ng-repeat="p in i.child" ng-class='{"c-red" : p.city == userLoc.city}'  ng-click="getCity(p.city,false)">{{ p.city == i.province ? '主城区':p.city}}</div>
				</div>
				
			</div>
			
		</div>
		
		<br />
		<br />
		<br />
		
		<div class="region-tit">
			选择场馆
		</div>
		<div class="region-cont">

			<div class="region-nav" ng-repeat="i in shop.list track by $index" type="0" ng-click="getShopId(i,true)">
				
				<div class="region-nav-tit" ng-class='{"c-red" : i.shop_id == shop.id}'>{{i.county}}-{{i.shop_name}}</div>

			</div>
			
		</div>
		
	</div>
	
</ion-view>





