<ion-view class="hx-page" style="background-color: #fff;" hide-nav-bar="true" ng-init="setDocumentTitle('团课详情')" ng-controller="groupCourseDtlCtrl">
    
    <ion-content class="hx-cont-noTop" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">

		<ion-slide-box auto-play="true" does-continue="true" show-pager="false" slide-interval="3000"> 
			
			<ion-slide ng-repeat="i in info.course.images">
				
				<img imgzoom ng-src="uploads/{{i}}" class="img-x" clsname="imgs" zoomurl="uploads/{{i}}" />
				
			</ion-slide>
			
		</ion-slide-box>
		
		<div class="hx-pd">
			
			<div class="lod-dtl">
				<div class="lod-tit">{{info.course.course_name}}<span ng-if="info.course.type==2">(收费课)</span></div>
				<div class="lod-txt"><i class="ion-ios-time"></i>时间 {{info.start_time | limitTo:10}}&nbsp;&nbsp;{{info.start_time | limitTo:-8}}-{{info.end_time | limitTo:-8}}</div>
				<div class="lod-txt"><i class="ion-ios-location"></i>{{info.shop.city}} {{info.shop.county}} {{info.shop.address}}</div>
				<div class="lod-dl">燃脂&nbsp;{{info.course.kcal}}千卡</div>
<!--			<div class="lod-dl">已预约人数{{info.user_count}}/{{info.max_count}}</div>-->
			</div>
			<div class="lod-dtl">
				<div imgzoom class="lod-dtl-img" ng-style="'uploads/'+info.coach.avatar | adaptBg" clsname="coachAvatar" zoomurl="uploads/{{info.coach.avatar}}"></div>
				<div class="lod-dtl-coach-name">{{info.coach_name}}</div>
				<div class="lod-dtl-coach-lcd"></div>
				<div class="lod-dtl-coach-label">
					<span ng-repeat="i in info.coach.speciality">{{i}}</span>
				</div>
			</div>
			<div class="course-ide">课程简介</div>
			<div class="course-ide-cont"></div>
			
		</div>
	
    </ion-content>

    <ion-footer-bar class="hx-foot bar bar-footer">

		<div class="qcyd-btn-db">
			<div class="qcyd-btn-li">
				
				<div class="course-txt" ng-if="info.max_count>info.user_count">已约{{info.user_count}}/{{info.max_count}}</div>
				<div class="course-txt" ng-if="info.max_count==info.user_count">已约满</div>
				<div class="course-bar">
					<div class="bar-mv"></div>
				</div>
				
			</div>
			<div class="qcyd-btn-li qcyd-btn-li2">
				<a href="javascript:;" class="qcyd-btn btn" ng-click="save()">预约</a>
			</div>
		</div>
		
    </ion-footer-bar>

</ion-view>





