<ion-view id="home" hide-nav-bar="true" ng-init="setDocumentTitle('首页')" ng-controller="userHomeCtrl">
	<div id="header">
	  <!--场馆选择-->
		<div class="home-shop" ng-click="showCity()">
			{{userLoc.province}}{{ userLoc.city == userLoc.province ? '':('-'+userLoc.city)}}-{{shop.name}}
			<img class="down-icon" src="./static/mobilev2/images/down_icon.png" alt="">
		</div>
		<div class="scan-icon"><img ng-click="scanQRCode()" src="./static/mobilev2/images/scan_icon.png" alt=""></div>
	</div>

	<ion-content class="user-scroll" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		<div class="user-content-no home-content">
			<div class="home-slogan">
				<div class="title">倾城运动·家</div>
				<div class="slogan">一人办卡全家享受，让家人、邻居、朋友更亲近</div>
			</div>
			<div class="home-share">
				<img src="./static/mobilev2/images/home_share.png" />
			</div>
			<div class="home-icon">
				<div class="row">
		      <div class="col">
		      	<a href="#/users/card-list">
			      	<div class="icon-bg"><img class="full-image" src="./static/mobilev2/images/home_icon_card.png" /></div>
			        <div>会员卡</div>
		      	</a> 
		      </div>
		      <div class="col">
		      	<a href="#/users/comCourse-plan">
		      		<div class="icon-bg"><img class="full-image" src="./static/mobilev2/images/home_icon_course.png" /></div>
					    <div>公共课</div>
		      	</a>
		      </div>
		      <div class="col">
		      	<a href="#/users/coach-list">
							<div class="icon-bg"><img class="full-image" src="./static/mobilev2/images/home_icon_coach.png" /></div>
					    <div>私人教练</div>
		      	</a>
		      </div>
		      <div class="col">
		      	<a  href="#/users/groCourse-plan">
							<div class="icon-bg"><img class="full-image" src="./static/mobilev2/images/home_icon_group.png" /></div>
					    <div>精品团课</div>
		      	</a>
		      </div>
		    </div>
			</div>
			<div class="home-banner">
				<img src="./static/mobilev2/images/home_banner.png" />
			</div>
			<div class="home-course home-common" ng-if="courseList.length>0">
				<div class="title">
					<div class="title-name">一起上课</div>
					<div class="title-btn" ng-click="goComCourseList()">全部课程</div>
				</div>
				<div class="course">
					<div class="course-li" ng-click="goComCourseDtl(courseList[0].plan_id)">
						<div class="course-img" ng-style="'uploads/'+courseList[0].image | adaptBg"></div>
						<div class="course-dtl">
							<div class="course-name">{{courseList[0].course_name}}</div>
							<div class="course-add">
								<img class="address-icon" src="./static/mobilev2/images/address_icon.png" alt="">
								<span class="shop-name">{{courseList[0].shop.shop_name}}</span>
								<img class="use-icon" src="./static/mobilev2/images/user_icon.png" alt="">
								<span>{{courseList[0].coach_name}}</span>
							</div>
							<div class="course-square">
								<div class="jindu">
									<div class="progress">
										<div class="progress-bar" style="width:{{progressBar0}}; background:#ff9d35;"></div>
									</div>
								</div>
							</div>
							<div class="yuyue">已约{{courseList[0].user_count}}/{{courseList[0].max_count}}</div>
						</div>
					</div>
					<div class="course-li" ng-click="goComCourseDtl(courseList[1].plan_id)">
						<div class="course-img" ng-style="'uploads/'+courseList[1].image | adaptBg"></div>
						<div class="course-dtl">
							<div class="course-name">{{courseList[1].course_name}}</div>
							<div class="course-add">
								<img class="address-icon" src="./static/mobilev2/images/address_icon.png" alt="">
								<span class="shop-name">{{courseList[1].shop.shop_name}}</span>
								<img class="use-icon" src="./static/mobilev2/images/user_icon.png" alt="">
								<span>{{courseList[1].coach_name}}</span>
							</div>
							<div class="course-square">
								<div class="jindu">
									<div class="progress">
										<div class="progress-bar" style="width:{{progressBar1}}; background:#ff9d35;"></div>
									</div>
								</div>
							</div>
							<div class="yuyue">已约{{courseList[1].user_count}}/{{courseList[1].max_count}}</div>
						</div>
					</div>
					<div class="course-li" ng-click="goComCourseDtl(courseList[2].plan_id)">
						<div class="course-img" ng-style="'uploads/'+courseList[2].image | adaptBg"></div>
						<div class="course-dtl">
							<div class="course-name">{{courseList[2].course_name}}</div>
							<div class="course-add">
								<img class="address-icon" src="./static/mobilev2/images/address_icon.png" alt="">
								<span class="shop-name">{{courseList[2].shop.shop_name}}</span>
								<img class="use-icon" src="./static/mobilev2/images/user_icon.png" alt="">
								<span>{{courseList[2].coach_name}}</span>
							</div>
							<div class="course-square">
								<div class="jindu">
									<div class="progress">
										<div class="progress-bar" style="width:{{progressBar2}}; background:#ff9d35;"></div>
									</div>
								</div>
							</div>
							<div class="yuyue">已约{{courseList[2].user_count}}/{{courseList[2].max_count}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="home-coach home-common" ng-if="coachList.length>0">
				<div class="title">
					<div class="title-name">1V1针对训练</div>
					<div class="title-btn">全部教练</div>
				</div>
				<div class="coach row">
					<div class="col col-33">
						<div class="coach-list">
							<div class="list card" ng-init="stars=getStars(coachList[0].score)">
						  	<div class="coach-img" ng-style="'uploads/'+coachList[0].avatar | adaptBg"></div>
						    <div class="coach-name">{{i.coach_name}}</div>
						    <div class="coach-star">
						    	<img ng-repeat="j in stars" src="./static/mobilev2/images/star_icon.png" alt="">
						    </div>
						    <div class="coach-course"><span class="price">{{coachList[0].price}}</span><span class="price-dtl">元/节</span><span class="count">{{coachList[0].count}}人上过</span></div>
							</div>
						</div>
					</div>
					<div class="col col-33" ng-if="coachList.length>1">
						<div class="coach-list">
							<div class="list card" ng-init="stars=getStars(coachList[1].score)">
						  	<div class="coach-img" ng-style="'uploads/'+coachList[1].avatar | adaptBg"></div>
						    <div class="coach-name">{{coachList[1].coach_name}}</div>
						    <div class="coach-star">
						    	<img ng-repeat="j in stars" src="./static/mobilev2/images/star_icon.png" alt="">
						    </div>
						    <div class="coach-course"><span class="price">{{coachList[1].price}}</span><span class="price-dtl">元/节</span><span class="count">{{coachList[1].count}}人上过</span></div>
							</div>
						</div>
					</div>	
					<div class="col col-33" ng-if="coachList.length>2">
						<div class="coach-list">
							<div class="list card" ng-init="stars=getStars(coachList[2].score)">
						  	<div class="coach-img" ng-style="'uploads/'+coachList[2].avatar | adaptBg"></div>
						    <div class="coach-name">{{coachList[2].coach_name}}</div>
						    <div class="coach-star">
						    	<img ng-repeat="j in stars" src="./static/mobilev2/images/star_icon.png" alt="">
						    </div>
						    <div class="coach-course"><span class="price">{{coachList[2].price}}</span><span class="price-dtl">元/节</span><span class="count">{{coachList[2].count}}人上过</span></div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="home-store home-common">
				<div class="title">
					<div class="title-name">附近门店</div>
					<div class="title-btn">全部门店</div>
				</div>
				<div class="store">
					<div class="club-li" ng-repeat="i in shop.list" ng-click="go(i.shop_id)">
						<div class="club-img" ng-style="'uploads/'+i.cover | adaptBg"></div>
						<div class="club-dtl">
							<div class="club-name">{{i.shop_name}}</div>
							<div class="club-add">{{i.address}}</div>
							<div class="club-square">{{radius=i.juli | limitTo:6}}m</div>
						</div>
						<img class="icon" src="./static/mobilev2/images/location_icon.png" />
					</div>
					<!-- ng-if="i.juli!=0" -->
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar id="footer">
		<div class="row">
      <div class="col">
      	<a href="#/users/home">
      		<div><img src="./static/mobilev2/images/footer_icon4.png" /></div>
	        <div class="home-page">首页</div>
      	</a>   
      </div>
      <div class="col">
        <div><img src="./static/mobilev2/images/footer_icon2.png" /></div>
        <div>倾城运动</div>
      </div>
      <div class="col">
        <div><img src="./static/mobilev2/images/footer_icon3.png" /></div>
        <div>我的</div>
      </div>
    </div>
	</ion-footer-bar>

	<!--城市menu-->
	<div loadcity class="region-mode">
		<div class="region-tit">
			<div class="region-close" ng-click="closeCity()">
				<img src="./static/mobilev2/images/close_icon.png" alt="">
			</div>
			<div>选择区域</div>
		</div>
		<div class="region-cont">
			<div class="region-nav" style="height: 1.067rem;" ng-repeat="i in citys" type="0" ng-click="getProvince(i.province,$index,i.child[0].city)">
				<div class="region-nav-tit" ng-class='{"c-orange" : i.province == userLoc.province}'>{{i.province}}</div>
				<div class="region-snav">
					<div ng-repeat="p in i.child" ng-class='{"c-orange" : p.city == userLoc.city}'  ng-click="getCity(p.city,false)">{{ p.city == i.province ? '主城区':p.city}}</div>
				</div>
			</div>
		</div>
		
		<br />
		<br />
		<br />
		
		<div class="region-tit">
			选择场馆
		</div>
		<div class="region-cont">

			<div class="region-nav" ng-repeat="i in shop.list track by $index" type="0" ng-click="getShopId(i,true)">
				
				<div class="region-nav-tit" ng-class='{"c-orange" : i.shop_id == shop.id}'>{{i.county}}-{{i.shop_name}}</div>

			</div>
			
		</div>
	</div>
</ion-view>
