<ion-view class="hx-page" hide-nav-bar="true" ng-init="setDocumentTitle('个人设置')" ng-controller="userSetCtrl">

    <ion-content class="bg-f" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">

		<!--列表-->
		<div class="hx-pd bg-f">
			<div class="list xp-list">
			    <div class="item item-img-li item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	头像
			      	<div class="up-img" ng-click="loadImg()">
	    				<div class="show-img" ng-style="'uploads/'+info.avatar | adaptBg"></div>
	    			</div>
			    </div>
			    <div class="item item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	性别
			      	<select ng-model="info.sex" ng-options="i.val as i.name for i in list.sex">
			      		
			      	</select>
			    </div>
			    <div class="item item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	身高(cm)
			      	<select ng-model="info.height" ng-options="i as i+'cm' for i in list.height">
			      		
			      	</select>
			    </div>
			    <div class="item item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	体重(kg)
			      	<select ng-model="info.weight" ng-options="i as i+'kg' for i in list.kg">
			      		
			      	</select>
			    </div>
			    <div class="item item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	出生年月
			      	<input type="date" ng-model="info.birthday" />
			    </div>
			    <div class="item item-icon-right" ng-if="info.cards.length>1">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	默认会员卡
			      	<select ng-model="info.sold_card_id"  ng-options="i.sold_card_id as i.card_name for i in info.cards">
			      		
			      	</select>
			    </div>
<!--			<div class="item item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			      	运动期望
			      	<select name="">
			      		<option value="1">减肥</option>
			      		<option value="2">塑形</option>
			      		<option value="3">增肌</option>
			      	</select>
			    </div>-->
			    
			</div>
		</div>
		
		<div style="height: 40px;"></div>
		
		<div class="hx-pd">
			<button class="button button-block button-positive set-btn" ng-click="sub()">提交</button>
		</div>
		
    </ion-content>

</ion-view>





